.searchList {
	z-index: 1000;
	padding: 3rem 0 0 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	position: absolute;
	top: 3.5rem;
	left: 0;
	list-style: none;
}

.searchList li a {
	display: flex;
	color: white;
	text-decoration: none;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
}

.searchList li a h3 {
	font-size: 1.8rem;
	font-weight: 400;
}
.searchList li a img {
	max-width: 4.5rem;
	width: 100%;
	height: auto;
}
