.listItem {
	position: relative;
	transition: all 300ms ease-out;
}

.listItem a {
	text-decoration: none;
	color: white;
}

.listItem:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.listItem div:first-child {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	z-index: 100;
}

.listItem .backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: background-color 300ms ease-out;
}
.listItem:hover .backdrop {
	background-color: rgba(0, 0, 0, 0.1);
}

.listItem img {
	width: 100%;
	height: 100%;
}
