.header {
	position: fixed;
	z-index: 10000;
	min-width: 100vw;
	padding: 2rem 20rem;
	display: flex;
	justify-content: space-between;
	background-color: black;
}
.header h1 {
	text-transform: uppercase;
	font-weight: 100;
}
