.dramaList {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	margin-bottom: 5rem;
}

@media (max-width: 1050px) {
	.dramaList {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 500px) {
	.dramaList {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}
